.DashboardContainer {
  width: 100%;
}
.container {
  margin-top: 1rem;
}
.courseContainer {
  width: 90%;
}
.row {
  margin-top: 1rem;
}
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}


.content.blur {
  filter: blur(5px);
}

.sidebar {
  position: fixed;
  top: 0;
  right: -500px; 
  height: 100%;
  width: 30rem;
  background-color: #fff;
  transition: all 0.6s ease-in;
  z-index: 9999;
  background-color:aliceblue;
}

.sidebar-open {
  right: 0; /* Moves the sidebar into the visible area */
}

.card {
  border: 1px solid #ccc;

  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.adddbtn {
  padding: 10px 30px;
}
.card-header {
  min-height: 3.5rem;
  background-color: #a5d5fd;
  padding: 0.75rem;
  font-weight: bold;
}
.arrow-button {
  padding: 3px 8px;
  background-color: #61ba64;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 10px;
}
.Description {
  min-height: 10rem;
}
.card-body {
  /* height: 10rem; */
  padding: 0.75rem;
}

.card-text {
  margin: 0;
}
@media(max-width:500px) {
  .sidebar{
    width: 20rem;
  }
  
}
