.graded-text {
  margin-right: 5px;
  color: green;
}

.grade-it-text {
  margin-right: 5px;
  color: green;
}

.grade-submitted-text {
  color: green;
}
.gradeform {
  position: relative;
}
.gradeRow {
  min-width: 210px !important;
  max-width: 210px !important;
}
.td-grade{
  min-width: 300px;
}
.table-div{
  overflow: auto;
}
.status-col{
  min-width: 170px;
}
.Practical-col{
  min-width:250px;
}
.Course-col{
  min-width: 140px;
}
.grade-btn{
  /* margin-top: 4px; */
  position: relative;
  right: 2.3%;
}
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}


.content.blur {
  filter: blur(5px);
}

.grade-input {
  width: 189px;
  padding: 5px;
  margin-right: 5px;
  border: none;
  position: relative;
  z-index: 0;
  text-decoration: none;
}
.input-grade{
  width: 70%;
}
.grade-div{
  gap: 15px;
}
.submit-button {
  background-color: rgb(23, 196, 23);
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}
