.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}



.description {
  display: -webkit-box;
  --max-lines: 2;  -webkit-box-orient: vertical;
  overflow: hidden;
 -webkit-line-clamp: var();
}

.title {
  font-size: 30px;
  font-weight: 600;
}
.img-fluid {
  width: 100%;
  height: 130px !important;
  object-fit: cover;
}
.sidebar-course {
    position: fixed;
    top: 0;
    right: -650px; 
    height: 100%;
    width: 30rem;
    background-color: #fff;
    transition: all 0.6s ease-in;
    z-index: 9999;
    background-color:aliceblue;
  }
.title-card{
  width: 100%;
  height: 10%;
  color: black;
background-color: #a5d5fd;
}
.sidebar-open {
  right: 0; 
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  resize: vertical;
  height: 100px;
}
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}
.card{
  background-color: white;
  box-shadow: #ccc;
}
.back-btn {
  background: none;
  margin-bottom: 20px;
  padding: 3px 15px;
  color: black;

  border: none;
  border-radius: 4px;
  cursor: pointer;
}
@media(max-width:500px) {
  .sidebar-course{
    width: 20rem;
  }
  
}